.topicsEn {
    background-color: #E6F7F9;
    color: #082F43;
    padding: 20px 40px 20px 300px;
}

.topicsAr {
    background-color: #E6F7F9;
    color: #082F43;
    padding: 20px 300px 20px 40px;
}